/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Ui Display Regular';
  src:  url('assets/font/SF-UI-Display-Regular.svg#sf_ui_displayregular') format('svg'),
        url('assets/font/SF-UI-Display-Regular.woff2') format('woff2'),
        url('assets/font/SF-UI-Display-Regular.woff') format('woff'),
        url('assets/font/SF-UI-Display-Regular.otf') format('opentype');
}

body {
  font-family: 'Ui Display Regular';
  background-color: #444444;
}

.wrapper-main {
  background-image: url(assets/DAVE_BG.jpg);
  max-width: 1022px;
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: right;
}

.rip {
  border: 7px solid white;
  box-sizing: border-box;
}

.images {
  padding-top: 300px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.search {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 4px;
  outline: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 20px 0 20px;
}

.image-wrapper {
  // padding: 30px 0;
  width: 80%;
  margin: auto;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 10px;
}

.comments {
  width: 80%;
  height: 100%;
  margin: 0 auto 30px;
  color: #C9CABA;
}

.button {
  width: 80%;
  margin: 0 auto 30px;
  text-align: center;
}

button {
  width: 200px;
  height: 30px;
  outline: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.count {
  float: right;
}

.info {
  margin: 15px 0;
  color: #C9CABA;
  font-size: 13px;
}

section h4 {
  text-transform: capitalize;
}

section p {
  font-size: 16px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: auto;
}

section span {
  padding: 0px 6px;
  background-color: #00000085;
  border-radius: 4px;
  text-transform: uppercase;
}

h4 {
  color: rgb(234, 235, 220);
}

.break {
  height: 1px;
  background-color: #95978a9e;
}
